<div class="container">
    <div class="row">
        <div class="col">
            <label for="Server Name"></label>
            <!-- Elemento Input con Event Binding
            <input 
                type="text"
                class="form-control"
                (input)="onUpdateServerName($event)">
            <p>{{ serverName }}</p>-->
            <!-- Elemento Input con Two-Way-Binding -->
            <input 
                type="text"
                class="form-control"
                id="Server Name"
                [(ngModel)]="serverName">
            <!--<p>{{ serverName }}</p>-->
            <button
                class="btn btn-primary"
                [disabled]="!allowNewServer"
                (click)="onCreatedServer()"
            >Add Server</button>
            <!--<p>{{ serverCreationStatus }}</p>-->
            <p *ngIf="!serverCreated">{{ serverCreationStatus }}</p>
            <p *ngIf="serverCreated">{{ serverCreationStatus }} Server name is {{ serverName }}</p>
            <app-server *ngFor="let server of servers"></app-server>
        </div>
    </div>
</div>
